.navBar {
  background-color: #a52017;
  color: white;
  display: flex;
  height: 10vh;
  width: 100%vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.images {
  img {
    max-height: 10vh;
    width: auto;
  }
}
.iconsContainer svg {
  margin-right: 1rem;
}

.menu {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: bold;

  ul {
    display: flex;
    list-style-type: none;
    li {
      margin-left: 4rem;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: black;
      }
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .images {
    img {
      width: 8rem;
    }
  }
  .iconsContainer {
    display: none;
  }
  .menu {
    ul {
      li {
        margin-left: 0.8rem;
        font-size: 0.4rem;
      }
    }
  }
}
