.Container {
  background-color: black;
  height: 100vh;
}
.myListContainer {
  background-color: black;
  padding: 4rem;
  padding-top: 5rem;
    padding-bottom: 10rem;
  .title {
    color: #fff;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
}
.description {
      color: #fff;
    display: flex;
    text-align: center;

    .items {
      margin: 2rem;
      max-width: 40rem;
    }
    .image {
      position: relative;
      width: 20%;
      height: 40%;
    }
  }
}
