.DetailsContainer {
  margin-top: -1.3rem;
  height: 100vh;
  background-color: black;
  color: white;
  h2 {
    padding-left: 4rem;
    padding-top: 4rem;
  }
  h3 {
    padding-left: 4rem;
  }
  .DetailsDescription {
    display: flex;
    padding: 4rem;
    img {
      position: relative;
    }
    .description {
      padding: 2rem;
    }
    .DetailsImg {
      position: relative;
      img {
        width: 170px;

      }
      .AddMeToList {
        position: absolute;
        right: 1rem;
        background: none;
        font-size: 2rem;
        cursor: pointer;
        overflow: hidden;
        color: white;
        z-index: 1;
        border: none;
        transition: 0.5s;
        &:hover {
          font-size: 4rem;
        }
      }
      .liked {
        color: red;
      }  
      &:hover img {
        filter: brightness(0.2);
      }
  }}
  .iframeContainer {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    background-color: #fff;

    
    &.showIframe .iconIframe {
      display: none;
    }
    

    .iconIframe {
      position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
      width: 3rem;
      height: 3rem;
      padding: 1.3rem;
      color: yellow;
      background-color: black;
      border-radius: 50%;
      border: 4px solid yellow;
      cursor: pointer;
      z-index: 1;
      .icon {
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
      }
      
    }
    .iframe {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      width: 30rem;
      height: 20rem;
      opacity: 1;
      z-index: 0;
      
    }
  }
  }
  
  
