.BoxForRandomMovies {
  display: flex;
  background-color: black;
  flex-direction: column;
  flex-wrap: wrap;
  h2 {
    color: white;
  }
  .Container {
    height: 100%;
    max-width: 100%;
    padding-top: 2rem;
    h2 {
      padding: 2rem;
    }
    .movieList {
      height: 100vh;
      .movieTile {
        position: relative;
        height: 25rem;
        left: 2.2rem;
        right: 2.2rem;
        width: 8rem;

        img {
          margin-top: 3rem;
          margin-left: 4rem;
          border-radius: 5px;
          width: 170px;
          transition: 0.8s;
        }
        button {
          position: absolute;
          top: 3rem;
          left: 5rem;
          background: none;
          font-size: 2rem;
          cursor: pointer;
          overflow: hidden;
          color: white;
          z-index: 1;
        }
        .AddMeToList {
          display: none;
          border: none;
          transition: 0.5s;
        }
        .liked {
          color: red;
        }

        .AddMeToList:hover {
          font-size: 4rem;
        }
        &:hover .AddMeToList {
          display: block;
        }
        &:hover img {
          filter: brightness(0.2);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .swiper-container {
    width: 100vw;
  }
  .BoxForRandomMovies {
    .Container {
        .movieList {
          margin-top: 3rem;
        .movieTile {
          height: 20rem;
          width: 15rem;
          right: 1rem;
          img {
            margin-left: 4rem;
            width: 170px;
          }
        }
      }
    }
  }
}
