.menu {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  .menu > * {
    margin-right: 3rem;
    margin-top: 0.5rem;
  }
  .menu a {
    text-decoration: none;
    color: #a52017;
  }
}
// .icons {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
// }
// .icons > * {
//   margin-left: 2rem;
//   margin-top: 2.5rem;
// }
