.navBar {
  background-color: #a52017;
  color: white;
  display: flex;
  max-height: 14vh;
  text-align: center;
  flex-direction: row;
  ul{ 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
  .images {
    padding: 1rem;
    display: flex;
    align-items: center;
    .iconsContainer svg{
      margin-left: 3rem;
      
    }
  }
}
